<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DHLWebApi" value="https://xmlpitest-ea.dhl.com/XMLShippingServlet" />
    <add key="DHL_SiteID" value="PADTECH"/>
    <add key="DHL_Password" value="IKOisxW8ac"/>
    <add key="MessageReference" value="0987654321098765432109876543"/>
  </appSettings>
</configuration>